// graident
$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

//text
$violetPale: hsl(276, 100%, 81%);
$violetModerate: hsl(276, 55%, 52%);
$violetDesaturatedDark: hsl(271, 15%, 43%);
$violetVeryDesaturatedDark: hsl(271, 36%, 24%);
$violetDarkGrayish: hsl(270, 7%, 64%);
$blueGrayish: hsl(206, 6%, 79%);

$white: hsl(0, 0%, 100%);
$violetLightGrayish: hsl(270, 20%, 96%);
$magentaVeryLight: hsl(289, 100%, 72%);